* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #333;
    margin: 10px auto;
    max-width: 90vmin;

}

.square {
    aspect-ratio: 1 / 1;
    width: 10%;
    flex: none;
}

.black-square {
    background-color: #333;
}
.piece {
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece::before {
    font-family: "Font Awesome 5 Pro";
    content: "\f111";
    font-weight: 900;
    font-size: 6vmin;
}

.white-piece::before {
    color: white;
}

.black-piece::before {
    color: red;
}

.piece.king::before {
    content: "\f445";
    font-weight: initial;
}

.piece.captured-piece::before {
    content: "\f057";
    font-weight: initial;

}

.selected {
    background-color: cornflowerblue;
}

.last-move {
    border: 1vmin solid lightgreen;
}

.valid-move {
    background-color: green;
}
